.navbar-default {
    background-color: white;
    border-color: white;
}
.navbar {
    border-radius: 4px;
}
.navbar {
    position: relative;
    min-height: 100px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav > li > a {
    padding-top: 35px;
    font-size: 25px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #c7eefd;
}

.profil{
    width: 40px;
    border-radius: 50px;
}